@{
    ViewData["Title"] = "Get Accounts";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Show account data</p>

<div>@(await Component.InvokeAsync<openbanking.ViewComponents.AccountList>())</div>
